* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
}

*::-moz-selection {
  background-color: #e68082;
  color: #fff;
}

*::selection {
  background-color: #e68082;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header-bg/header-bg.jpg);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#e78582, #e29817);
  opacity: 0.6;
  z-index: -1;
}
.header-logo {
  font-size: 24px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header-logo span {
  text-transform: uppercase;
}
.header .navbar {
  margin-right: 50px;
}
.header .navbar-links {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
}
.header-names {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
  color: #fff;
}
.header-names .header-first-name {
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  font-size: 72px;
}
.header-names .header-second-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 105px;
  position: relative;
  text-transform: uppercase;
}
.header-names .header-second-name::after {
  position: absolute;
  width: 60px;
  height: 5px;
  top: 125%;
  left: 45%;
  content: "";
  background-color: #fff;
}
.header-names .btn {
  width: 161px;
  height: 41px;
  background: none;
  border: 3px solid #fff;
  padding-top: 7px;
  margin-top: 125px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.header-names .btn:hover {
  background: #fff;
  color: black;
}
.header .progress {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 0;
  right: 15px;
  width: 100%;
}
.header .progress-items {
  width: 24%;
  border-top: 2px solid #fff;
  opacity: 0.7;
  margin-left: 44px;
  position: relative;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
}
.header .progress-items-border-bottom-text {
  margin-right: 75%;
  color: #fff;
}
.header .progress-items-border-bottom-text span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.header .progress-items-border-bottom-text2 {
  margin-right: 72%;
  color: #fff;
}
.header .progress-items-border-bottom-text2 span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.header .progress-items-border-bottom-text3 {
  margin-right: 69%;
  color: #fff;
}
.header .progress-items-border-bottom-text3 span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.header .progress-items-border-bottom-text4 {
  margin-right: 62%;
  color: #fff;
}
.header .progress-items-border-bottom-text4 span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.header .progress-items.active {
  opacity: 1;
}
.header .progress-items.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
  background-color: #e68082;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 62px;
}

.section {
  width: 100%;
  text-align: center;
}
.section-about {
  padding: 110px;
}
.section-about .section-name {
  position: relative;
}
.section-about .section-name-name1 {
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 15px;
  color: #333;
}
.section-about .section-name-name2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}
.section-about .section-name-name2::after {
  position: absolute;
  top: 170%;
  left: 47%;
  width: 60px;
  height: 3px;
  background-color: #e68082;
  content: "";
}
.section-about-paragraph {
  padding: 60px 60px 0;
}
.section-about-paragraph-text {
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.section-about .about {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: -2%;
}
.section-about .about__item {
  position: relative;
  width: 380px;
  margin-left: 22px;
  background-color: #95e1d3;
}
.section-about .about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}
.section-about .about__item:hover .about__text {
  opacity: 1;
}
.section-about .about__item:hover .about__img img {
  opacity: 0.1;
}
.section-about .about__item .about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.1s linear;
}
.section-about .about__item .about__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.section-about .about__item .about__text {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  top: 50%;
  left: 0;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.1 linear;
  transform: translate3d(0, -50%, 0);
  text-transform: uppercase;
  z-index: 2;
  transition: opacity 0.1 linear;
  transform: translate3d(0, -50%, 0);
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 0;
}

.section2 {
  background-color: #95e1d3;
  text-align: center;
  width: 100%;
}
.section2 .facts {
  position: relative;
  top: 0;
  left: 25px;
  width: 100%;
  display: flex;
  padding: 0 90px;
}
.section2 .facts-item {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid #b5eae0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 200px;
}
.section2 .facts-item .facts-col {
  font-size: 72px;
  font-weight: 700;
}
.section2 .facts-item:last-child {
  height: 200px;
  border-right: 2px solid #b5eae0;
}

.section3 {
  text-align: center;
}
.section3-service-segment {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 60px 200px;
}
.section3-service-segment-item {
  padding-left: 2px;
  display: flex;
  flex-direction: row;
  position: relative;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.section3-service-segment-item .segment-name-text {
  padding: 2px;
}
.section3-service-segment-item .segment-name-text h2 {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  float: left;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}
.section3-service-segment-item .segment-name-text p {
  margin-top: 25px;
  width: 290px;
  height: 81px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.section3-service-segment-item .segment-name-text p span {
  padding-right: 130px;
}
.section3 .line {
  position: relative;
  top: 0;
  left: 14%;
  width: 1000px;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 20px;
}

.section4 {
  margin-top: 5%;
  background-image: url(../img/section-bg/section-bg.jpg);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.section4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ededed, #e5e5e5);
  opacity: 0.6;
  z-index: -1;
}
.section4-names {
  margin-top: 5%;
  position: relative;
}
.section4-names .name1 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section4-names .name2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.section4-names .name2::after {
  width: 60px;
  height: 5px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #e68082;
}
.section4 .images {
  margin-left: 50px;
  position: relative;
  top: 0;
  left: 0;
}
.section4 .images .iphone {
  position: absolute;
  top: 50%;
  left: 60%;
}

.section5 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .section-about-paragraph-text1 {
  width: 960px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.section5 .images {
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
}
.section5 .image__text-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .text-form {
  position: relative;
  top: -50px;
  left: 25px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.section5 .text-form-item {
  display: flex;
}
.section5 .text-form-item .text-form-segment {
  position: relative;
  width: 500px;
  border: 2px solid #e5e5e5;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.section5 .text-form-item .text-form-segment div {
  display: flex;
  flex-direction: row;
}
.section5 .text-form-item .text-form-segment h2 {
  font-size: 14px;
  position: relative;
  padding: 5px 2px;
  font-weight: 400;
}
.section5 .text-form-item .text-form-segment i {
  padding: 5px 2px;
}
.section5 .text-form-item .text-form-segment .paragraph {
  display: none;
}
.section5 .text-form-item .text-form-segment .paragraph.active {
  display: block;
  top: 60px;
  right: -2px;
  width: 500px;
  padding: 2px;
  border: 2px solid #e5e5e5;
  position: absolute;
}
.section5 .text-form-item .text-form-segment .paragraph.active p {
  margin: 15px 30px;
  width: 430px;
  height: 135px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.section5 .text-form-item .text-form-segment .paragraph1.scroll {
  overflow-y: scroll;
  height: 250px;
}
.section5 .text-form-item1 {
  margin-top: 170px;
  display: flex;
}
.section5 .text-form-item1 .text-form-segment {
  position: relative;
  width: 500px;
  border: 2px solid #e5e5e5;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.section5 .text-form-item1 .text-form-segment div {
  display: flex;
  flex-direction: row;
}
.section5 .text-form-item1 .text-form-segment h2 {
  font-size: 14px;
  position: relative;
  padding: 5px 2px;
  font-weight: 400;
}
.section5 .text-form-item1 .text-form-segment i {
  padding: 5px 2px;
}
.section5 .text-form-item1 .text-form-segment .paragraph {
  display: none;
}
.section5 .text-form-item1 .text-form-segment .paragraph.active {
  margin-bottom: 150px;
  display: block;
  top: 60px;
  right: -2px;
  width: 500px;
  padding: 2px;
  border: 2px solid #e5e5e5;
  position: absolute;
}
.section5 .text-form-item1 .text-form-segment .paragraph.active p {
  margin: 30px 30px;
  width: 430px;
  height: 135px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.section5 .text-form-item1 .text-form-segment .paragraph1.scroll {
  overflow-y: scroll;
  height: 250px;
}
.section5 .text-form-item2 {
  display: flex;
}
.section5 .text-form-item2 .text-form-segment {
  position: relative;
  width: 500px;
  border: 2px solid #e5e5e5;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.section5 .text-form-item2 .text-form-segment div {
  display: flex;
  flex-direction: row;
}
.section5 .text-form-item2 .text-form-segment h2 {
  font-size: 14px;
  position: relative;
  padding: 5px 2px;
  font-weight: 400;
}
.section5 .text-form-item2 .text-form-segment i {
  padding: 5px 2px;
}
.section5 .text-form-item2 .text-form-segment .paragraph {
  display: none;
}
.section5 .text-form-item2 .text-form-segment .paragraph.active {
  margin-bottom: 150px;
  display: block;
  top: 60px;
  right: -2px;
  width: 500px;
  padding: 2px;
  border: 2px solid #e5e5e5;
  position: absolute;
}
.section5 .text-form-item2 .text-form-segment .paragraph.active p {
  margin: 30px 30px;
  width: 430px;
  height: 135px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.section5 .text-form-item2 .text-form-segment .paragraph1.scroll {
  overflow-y: scroll;
  height: 250px;
}

.section6 {
  background-color: #f8f8f8;
  position: relative;
  width: 100%;
}
.section6-text-segment {
  position: relative;
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
}
.section6-text-segment .arrow {
  padding-right: 73px;
}
.section6-text-segment .arrow1 {
  padding-left: 73px;
}
.section6-text-segment p {
  width: 770px;
  font-size: 20px;
  line-height: 36px;
  color: #999;
  font-weight: 300;
  padding-left: 60px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
}
.section6 .section5-text-segment-name {
  position: relative;
  top: -60px;
  left: 38%;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  font-family: "Kaushan Script", sans-serif;
}
.section6 .section5-text-segment-name::before {
  position: absolute;
  top: 5px;
  left: -70px;
  width: 60px;
  height: 5px;
  background-color: #e68082;
  content: "";
}

.section7 {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.section7 .about {
  top: -50px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.section7 .about__item {
  position: relative;
  width: 380px;
  background-color: #95e1d3;
}
.section7 .about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}
.section7 .about__item:hover .about__text {
  opacity: 1;
}
.section7 .about__item:hover .about__img img {
  opacity: 0.1;
}
.section7 .about__item .about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.1s linear;
}
.section7 .about__item .about__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.section7 .about__item .about__text {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  top: 50%;
  left: 0;
  opacity: 0;
  transition: opacity 0.1 linear;
  transform: translate3d(0, -50%, 0);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-self: center;
}
.section7 .about__item .about__text .logo {
  width: 57px;
  height: 57px;
  background: #fce38a;
  border-right: 1px solid #f9bd87;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
}
.section7 .about__item .about__text .logo:hover {
  color: white;
  background-color: #f38181;
}
.section7 .textes {
  position: absolute;
  top: 102%;
  left: 40%;
}
.section7 .textes .about__item__text {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section7 .textes .about__item__text1 {
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section8 {
  background-color: #f8f8f8;
  position: relative;
  width: 100%;
  padding: 50px;
}
.section8 .logo-images {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.section9 {
  text-align: center;
}
.section9 .works {
  display: flex;
}
.section9 .works__col {
  flex: 1 1 0;
}
.section9 .works__col .works__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.section9 .works__col .works__item:hover .works__image {
  opacity: 0.1;
}
.section9 .works__col .works__item:hover .works__info {
  opacity: 1;
}
.section9 .works__col .works__item .works__image {
  display: block;
  transition: opacity 0.1s linear;
  max-width: 100%;
  height: auto;
}
.section9 .works__col .works__item .works__info {
  padding: 0 15px;
  z-index: 1;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 40%;
  left: 0;
  color: #fff;
  transform: translate3d(0, 50%, 0);
  transition: opacity 0.2s linear;
}
.section9 .works__col .works__item .works__info .works__title {
  margin-bottom: 5px;
  font-style: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.section9 .works__col .works__item .works__info .works__text {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.section10 {
  background-color: #fff;
  position: relative;
  width: 100%;
}
.section10-text-segment {
  position: relative;
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
}
.section10-text-segment .arrow {
  padding-right: 73px;
}
.section10-text-segment .arrow1 {
  padding-left: 73px;
}
.section10-text-segment p {
  width: 770px;
  font-size: 20px;
  line-height: 36px;
  color: #999;
  font-weight: 300;
  padding-left: 60px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
}
.section10 .section5-text-segment-name {
  position: relative;
  top: -60px;
  left: 38%;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  font-family: "Kaushan Script", sans-serif;
}
.section10 .section5-text-segment-name::before {
  position: absolute;
  top: 5px;
  left: -70px;
  width: 60px;
  height: 5px;
  background-color: #e68082;
  content: "";
}

.section11 {
  background-image: url(../img/section11-bg/section-bg.jpg);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.section11:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fff, #fff);
  opacity: 0.9;
  z-index: -1;
}
.section11 .clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section11 .clients__col {
  width: 50%;
  position: relative;
}
.section11 .clients__col .clients__item {
  margin-bottom: 10%;
  margin-left: 15%;
}
.section11 .clients__col .clients__item img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  float: left;
}
.section11 .clients__col .clients__item .content {
  color: #333;
  position: relative;
  top: 0;
  left: 5%;
}
.section11 .clients__col .clients__item .content .name,
.section11 .clients__col .clients__item .content .prof {
  margin-bottom: 5px;
  position: relative;
  top: 0;
  left: -34%;
}
.section11 .clients__col .clients__item .content .name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section11 .clients__col .clients__item .content .name2 {
  position: relative;
  top: 0;
  left: -32%;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section11 .clients__col .clients__item .content .name3 {
  position: relative;
  top: 0;
  left: -30%;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section11 .clients__col .clients__item .content .name4 {
  position: relative;
  top: 0;
  left: -33%;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section11 .clients__col .clients__item .content .prof {
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.section11 .clients__col .clients__item .content .text {
  position: relative;
  top: 0;
  left: -2%;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}
.section11 .clients__col .clients__item .content .text::before {
  position: absolute;
  top: -17%;
  left: 19%;
  width: 60px;
  height: 3px;
  background-color: #e68082;
  content: "";
}

.section12 {
  text-align: center;
}
.section12 .stories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section12 .stories__col {
  padding: 15px;
  width: 30%;
}
.section12 .stories__col .stories__item {
  width: 100%;
  position: relative;
}
.section12 .stories__col .stories__item img {
  display: block;
}
.section12 .stories__col .stories__item .day-month {
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  position: absolute;
  bottom: 15px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.section12 .stories__col .stories__item .day-month div {
  width: 100%;
}
.section12 .stories__col .stories__item .day-month div .day {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  flex-wrap: wrap;
  font-weight: 700;
}
.section12 .stories__col .stories__item .day-month div .month {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.section12 .stories__col .content {
  -moz-text-align-last: left;
       text-align-last: left;
}
.section12 .stories__col .content .name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  color: #333;
}
.section12 .stories__col .content .text {
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
}
.section12 .stories__col .content .line {
  width: 380px;
  height: 1px;
  margin: 10px 0;
  background-color: rgba(153, 153, 153, 0.3);
}
.section12 .stories__col .content .icons i {
  color: #95e1d3;
}
.section12 .stories__col .content .icons span {
  padding-left: 2px;
  color: #999;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.section13 {
  background-image: url(../img/section13-bg/section13-bg.jpg);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.section13:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fff, #fff);
  opacity: 0.9;
  z-index: -1;
}
.section13 .icon {
  padding: 5% 0;
  position: relative;
}
.section13 .icon img {
  color: #e68082;
  width: 24px;
}
.section13 .icon .name {
  font-size: 30px;
  color: #e68082;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.section13 .icon .name::after {
  width: 80px;
  height: 5px;
  top: 80%;
  left: 47%;
  position: absolute;
  content: "";
  background-color: #e68082;
}

.footer .div {
  display: flex;
  flex-direction: row;
  margin: 3% 5%;
}
.footer .div .about .mogo {
  font-size: 34px;
  color: #999;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.footer .div .about .mogo .logo {
  text-transform: uppercase;
}
.footer .div .about p {
  color: #999;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  padding: 5% 0;
}
.footer .div .about .follower-amount {
  padding: 5% 0;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
}
.footer .div .about .follower-amount span {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.footer .div .about .line {
  width: 430px;
  margin-bottom: 5%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.3);
}
.footer .div .about .social__links {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.footer .div .about .social__links .text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-combine-upright: #999;
}
.footer .div .about .social__links .social-media-logo {
  color: #95e1d3;
  margin-left: 15px;
}
.footer .div .about .social__links .social-media-logo i {
  padding-left: 10px;
}
.footer .div .about form {
  position: relative;
}
.footer .div .about form input {
  border: 1px solid rgba(153, 153, 153, 0.3);
  padding: 2% 7%;
}
.footer .div .about form .btn {
  width: 150px;
  height: 35px;
  background-color: #95e1d3;
  position: relative;
  top: 1px;
  left: -5px;
}
.footer .div .about form input::-moz-placeholder {
  font-style: italic;
}
.footer .div .about form input:-ms-input-placeholder {
  font-style: italic;
}
.footer .div .about form input::placeholder {
  font-style: italic;
}
.footer .div .blog {
  margin: 0 3%;
  color: #333;
}
.footer .div .blog .name {
  text-transform: uppercase;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-bottom: 13%;
}
.footer .div .blog__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.footer .div .blog__item img {
  height: 100px;
}
.footer .div .blog__item .content {
  margin: 10px;
}
.footer .div .blog__item .content__name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.footer .div .blog__item .content .date {
  margin-top: 10px;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  color: #999;
  font-family: "Montserrat", sans-serif;
}
.footer .div .instagram {
  padding: 0 5%;
}
.footer .div .instagram .name {
  text-transform: uppercase;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-bottom: 13%;
}
.footer .div .instagram__name {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
  padding-top: 5%;
  font-size: 14px;
  font-weight: 400;
}
.footer .line {
  width: 1366px;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.3);
}
.footer .after__footer {
  text-align: center;
  margin: 1%;
  font-family: "Montserrat", sans-serif;
}
.footer .after__footer .g {
  text-transform: uppercase;
}
.footer .after__footer .psd {
  text-transform: uppercase;
}
.footer .after__footer .laaqiq {
  color: #e68082;
}/*# sourceMappingURL=style.css.map */