///fonts
$mff:'Montserrat',sans-serif;
$rff: 'Roboto',sans-serif;
$ksff:'Kaushan Script',sans-serif;
//                  color
//header background linear-gradient
$linear-gradient: linear-gradient(#e68082,#f1da8a);
$bg-image: url(../img/header-bg/header-bg.jpg);
//selection color
$selectionbg: #e68082;
$selectionc: #fff;
//text color
$textcolor: #fff;
$namecolor: #333;
$namecolor2: #999;
// after color
$aftertextcolorPink: #e68082;
$aftertextcolorWhite: #fff;
// section
$month-color: #95e1d3;
$section-images-hover: #95e1d3;
$linear-gradient2: linear-gradient(#ede #e5e5e5);
$bg-image2: url(../img/section-bg/section-bg.jpg);
$sectionbg: #95e1d3;
//navbar color
$navbarcolor: #fff;
$border: 3px solid #fff ;
//slider
$slider-border: 2px solid #fff ;